<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>

    <springProfile name="!dev">

    	<logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="ERROR" additivity="false">
            <appender-ref ref="FILE" />
            <appender-ref ref="CONSOLE"/>
		</logger>

		<logger name="jpdr.apps.devsu.apidemo.log" level="ERROR" additivity="false">
		    <appender-ref ref="FILE" />
            <appender-ref ref="CONSOLE"/>
		</logger>

        <root level="ERROR">
            <appender-ref ref="FILE" />
            <appender-ref ref="CONSOLE"/>
        </root>
        
        
        
    </springProfile>

    <springProfile name="dev">
    
    	<logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="ERROR" additivity="false">
            <appender-ref ref="FILE" />
            <appender-ref ref="CONSOLE"/>
		</logger>
		
		<logger name="jpdr.apps.devsu.apidemo.log" level="ERROR" additivity="false">
		    <appender-ref ref="FILE" />
            <appender-ref ref="CONSOLE"/>
		</logger>
		
        <root level="ERROR">
            <appender-ref ref="FILE" />
            <appender-ref ref="CONSOLE"/>
        </root>
        

    </springProfile>
    
    
    
</configuration>